<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>

    <div id="loginCon">
        <h1 id="loginLabel" > Login</h1>
        <br>
            <div id="inputCon">
                <p id="loginError"> Username/Password Incorrect Or Account doesn't Exist</p>
                    <h3> Username</h3>
                        <input id="username" type="text" placeholder="Enter username here">
                    <h3> Password</h3>
                          <input id="password" type="text" placeholder="Enter username here">
                            <br>
                          <button id="loginButton"> Login </button>
            </div>
    </div>
</body>
<script src="/loginPage.js"></script>
</html>